{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "noSemi": true,
    "rcVerbose": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false
}
