includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 6

    excludePaths:
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/Requests/Auth/LoginRequest.php
        - app/Http/Requests/ProfileUpdateRequest.php
